
.white-p {
    font-family: 'Rubik', sans-serif;
    color: #fff; 
    font-size: 18px;
}
.nomination-block-detals {
    display: grid;
    grid-gap: 20px;
    grid-row-start: 1fr 1fr 1fr 1fr;
    
}
.nomination {
font-family:'Rubik', sans-serif;
color: rgb(255, 255, 255);
font-size: 18px;
padding: 0px 30px;
}
.year-win {
font-family:'Prata', serif;
color: rgb(255, 255, 255);
font-size: 22px;
padding: 0px 30px;
}
.grey-nomination {
    font-family:'Rubik', sans-serif;
    font-size: 16px;
    color: rgb(137, 128, 130);
    font-size: inherit;
    padding: 0px 30px;
}
.nomination-picture {
    max-width: 100%;
    display: block;
    background-position: center;
    padding: 15px 30px;    
}
@media (min-width: 600px) {
    .nomination-block-detals {
        display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 10px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 15px 40px;
    }
    .nomination-picture {
        width: 200px;
        flex: 0.1;
    }
    .nomination {
        text-align: start;
        flex: 0.2;
        
    }
    .year-win{
        flex: 0.1;
    }
    .grey-nomination {
        flex: 0.6;
    }
}

.details-blog {
    text-align: center;
    align-items: center;
    margin-top: 90px;
}
.blog-post > p {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 450px;
    width: 100%;
    margin-bottom: 90px;
    margin-top: 200px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    border: 1px solid rgba(33, 39, 54, 0.12);
}
