@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:wght@300&display=swap');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	font-family: 'Rubik', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.orange-p {
	font-family: 'Great Vibes', monospace;
	font-size: 14px;
	line-height: 39.2px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: rgb(200, 105, 58);
}
.white-p {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	line-height: 30.6px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #fff;
}
.grey-p {
	font-family: Rubik, sans-serif;
	font-size: 16px;
	line-height: 25.6px;
	font-weight: 400;
	text-transform: none;
	letter-spacing: normal;
	color: #898c8a;
}
.section-title {
	font-family: 'Prata', serif;
	font-size: 34px;
	font-weight: 400;
}

.orange-divider {
    width: 5%;
    height: 2px;
    background-color: #c8693a; 
}

